* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.li {
  margin-inline: 15px;
  color: cornflowerblue;
  font-weight: 500;
  text-decoration: none;
  font-size: large;
}

/* Form Styles */

.form_content {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.Form__row {
  display: flex;
  border-bottom: 2px solid rgb(115, 115, 115);
  height: 40px;
  align-items: center;
  justify-content: space-around;
  width: 600px;
  /* width: 90vw; */
}

.Form__row .label {
  /* width: 170px; */
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 20px;
  width: inherit;
  height: inherit;
  background-color: rgba(186, 168, 214, 0.538);
  font-size: larger;
  font-weight: 500;
}

.inputField {
  display: flex;
  width: 260px;
  justify-content: space-evenly;
}

input[type=radio] {
  width: 17px;
}

.addClient__Input,
.gender {
  padding-inline: 10px;
  height: 38px;
  width: inherit;
  border: none;
  outline: none;
  color: rgb(48, 2, 97);
  font-size: larger;
  background-color: rgba(182, 194, 227, 0.684);
}

.form__mainsection {
  width: inherit;
  height: inherit;
  display: flex;
  padding-top: 100px;
  justify-content: center;
  flex-direction: column;
  /* max-width: 100vw; */
  margin-left: 10px;
}

.btnDiv {
  /* background-color: rgba(30, 210, 141, 0.562); */
  background-color: rgba(195, 158, 112, 0.381);
  height: 40px;
  display: flex;
  justify-content: center;
}

.form__saveBtn {
  font-size: large;
  padding: 5px;
  padding-inline: 15px;
  background-color: rgba(0, 0, 0, 0.22);
  border: none;
  width: 190px;
  font-weight: 500;
  color: rgb(101, 101, 101);
}

.form__saveBtn:hover {
  box-shadow: 7px 2px 17px 10px rgba(30, 210, 141, 0.562);
  background-color: rgba(43, 153, 226, 0.424);
  color: rgb(62, 62, 62);
  font-weight: 600;
}

.gender {
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 20px 12px rgb(171, 150, 178);
  user-select: none;
  width: min-content;
  background-color: rgba(240, 248, 255, 0.419);
}

.image {
  position: absolute;
  top: 110px;
}

.image img {
  width: 800px;
}

@media only screen and (max-width: 600px) {
  form {
    width: 100vw;
    overflow-x: scroll;
  }

  .Form__row {
    width: 100vw;
  }

  .image {
    top: 260px;
  }

  .Form__row .label,
  .addClient__Input,
  .gender,
  .inputField {
    font-size: medium;
    width: 220px;
    white-space: nowrap;
  }

  .label {
    width: 150px;
  }
}

/* client Data styles */

.LoanDetails {
  background-color: beige;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status span {
  border: 1px solid rgb(237, 232, 232);
  padding-inline: 9px;
  padding-block: 4px;
  border-radius: 25px;
  cursor: pointer;
}

#client {
  margin-top: 50px;
  /* background-color: rgba(196, 227, 255, 0.096); */
}

.tabled{
  border: 2px solid rgb(215, 208, 208);
  
}
.tabled::-webkit-scrollbar {display:none;}

.id {
  background-color: rgb(181, 158, 216);
}

.EditBtnSpan {
  border: 1px solid rgb(237, 232, 232);
  background-color: rgb(227, 227, 227);
  padding-inline: 15px;
  padding-block: 4px;
  border-radius: 25px;
  cursor: pointer;
}

#wifi-loader {
  --background: #62abff;
  --front-color: #4f29f0;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before, #wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}
 

/* home section animation */

.slide-out-top {
  -webkit-animation: slide-out-top 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-top 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }

  30% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  51% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }

  30% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  51% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 7s both;
	        animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 7s both;
}

 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4.5s both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4.5s both;
}