*{
    margin: 0;padding: 0;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.navbar{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid red;
    width: inherit;
    margin-bottom: 100px;
    font-size: large;
}
.Form__row{
    display: flex;
    border: 1px solid black;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    width: 600px;
}
.Form__row .label{
    /* width: 170px; */
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    width:inherit;
    height: inherit;
    background-color: rgb(153, 183, 239);
    font-size: larger;
}
.inputField{
    display: flex;
    width: 260px;
    justify-content: space-evenly;
}
input[type=text],input[type=number],.gender{
    padding-inline: 10px;
    height: 38px;
    width: inherit;
    border: none;
    outline: none;
    color: rgb(48, 2, 97);
    font-size: larger;
    background-color: rgb(215, 222, 240);
}
.gender{
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: black;
}
.li{
    margin-inline: 15px;
}
.tabledata{
    margin-block: 3px;
    margin-inline: 0rem;
    padding-inline: 0.3rem;
    /* border: 1px solid black; */
    min-width: 150px;
    border-left: 1px solid rgba(128, 128, 128, 0.387);
}
.userdatadiv{
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
}
.userDetailsHeader{
    border: 2px solid black;
    height:50px;
    font-size: larger;
}
.userDetails{
    border: 1px solid rgba(0, 0, 0, 0.468);
    height:70px
}
.searchBar{
    display:flex
}
.popup_forClientDetails{
    border: 1px solid red;
    height: 90vh;
    width: 90vw;
    position:sticky;
    bottom: 5%;
    left: 5%;
    background:linear-gradient(40deg, rgb(248, 231, 207),rgb(210, 166, 166),rgb(180, 180, 241));
    display: flex;
    justify-content: center;
    text-align: center;
    /* backdrop-filter:blur(10px); */
}
.userDetailsHeader td {
    text-align: center;
}
.LoanDetails{
    display: flex;
    flex-direction: column;
    background-color: beige;
}
.index{
    min-width:50px;
}
.index_data{
     text-align: center;
     padding: auto;
     margin: auto;
     font-size:larger;
}
.status{
    display: flex;
    align-items: center;
    justify-content: center;
}
.status span{
    border:1px solid rgb(237, 232, 232);padding-inline:9px;padding-block:4px;
    border-radius:25px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.personal{
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 231, 231);
}
.personal2{
    display: flex;
    flex-direction: column; 
}
.name{
    font-weight: 600;
}
.phone{
    align-self: center;
}
.id{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(181, 158, 216); */
}