.li{
    margin-inline: 15px;
}
.tabledata{
    margin-block: 3px;
    margin-inline: 0rem;
    padding-inline: 0.3rem;
    /* border: 1px solid black; */
    min-width: 150px;
    border-left: 1px solid rgba(128, 128, 128, 0.387);
}
.userdatadiv{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.userDetailsHeader{
    border: 2px solid black;
    height:50px;
    font-size: larger;
}
.userDetails{
    border: 1px solid rgba(0, 0, 0, 0.468);
    height:70px
}
.searchBar{
    display:flex
}
.popup_forClientDetails{
    border: 1px solid red;
    height: 80vh;
    min-width: 80vw ;
    position:absolute;
    top: 100px;
    left: 10%;
    background-color: rgb(68, 187, 181);
    display: flex;
    justify-content: center;
    text-align: center;
}
td{
    min-width: 80px;
    text-align: left;
    margin-inline: 30px;
}
.LoanDetails{
    display: flex;
    flex-direction: column;
    background-color: beige;
}
.index{
    min-width:50px
}
.status{
    display: flex;
    align-items: center;
    justify-content: center;
}
.status span{
    border:1px solid rgb(237, 232, 232);padding-inline:9px;padding-block:4px;
    border-radius:25px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.personal{
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 231, 231);
}
.name{
    font-weight: 600;
}
.phone{
    align-self: flex-end;
}